</head>

<body class="grid">

    <header class="header_grid">
        <section class="header_container left_image">
            <img src="/assets/img/book.svg" alt="Imagen de varios libros">
        </section>
        <section class="header_container page_title">
            <p class="header_text"><%= pageTitle %></p>
        </section>
        <section class="eslogan header_container right_image">
            <img src="/assets/img/book.svg"
                alt="Imagen del eslogan: 'Un nuevo MUUNDO se abre ante ti' junto con un libro tradicional y libro electrónico">
        </section>
    </header>
    <nav class="nav_grid">
        <ul class="nav_menu">
            <li class="nav_menu_item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
            <!-- <li class="nav_menu_item"><a href="#"
                    class="<%= path === '/api/socio/registerSocio' ? 'active' : '' %>">Ingresar/Registrar</a>
            </li> -->
            <li class="nav_menu_item"><a href="/libros"
                    class="<%= path === '/libros/catalogo' ? 'active' : '' %>">Catálogo</a>
            </li>
            <li class="nav_menu_item">
                <!-- <a href="#"
                    class="<%= path === '/libros/listaLibros' || path === '/libros/registerBook' || path === '/libros/editBook' ? 'active' : '' %>">Administrar
                    Libros</a> -->
                <button id="toggleNavButton" onclick="toggleSubmenu()">Administrar libros</button>
                <ul class="nav_submenu" id="nav_submenu">
                    <li class="nav_submenu_item"><a href="/libros/listaLibros"
                            class="<%= path === '/libros/listaLibros' ? 'active' : '' %>">Lista de
                            libros</a></li>
                    <li class="nav_submenu_item"><a href="/libros/registerBook"
                            class="<%= path === '/libros/registerBook' ? 'active' : '' %>">A&ntilde;adir
                            libro</a></li>
                    <li class="nav_submenu_item"><a href="/libros/editBook"
                            class="<%= path === '/libros/editBook' ? 'active' : '' %>">Editar
                            libro</a></li>
                </ul>
            </li>
            <li class="nav_menu_item"><input class="search_box" type="search" name="busqueda"
                    placeholder="no operativo"> <input type="submit" value="Buscar"> </li>
        </ul>
    </nav>