<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/catalogo.css">
<link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&family=Poppins:wght@300;400&family=Roboto+Condensed&family=Roboto:wght@300;500&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/ed5f92cabc.js" crossorigin="anonymous"></script>
<script src="/js/catalogo.js"></script>
<%- include('../includes/header.ejs') %>
<main class="main_grid">
    <% 
    for (let libro of libros) { 
        const portada = libro.coverUrl;
        const autores = []; 
        for (let autor of libro.autors) {
            autores.push(autor.nombre + ' ' + autor.apellidos); 
        } 
        autores_libro = autores.join(', ');
    %>
    <article class="libro">
        <button class="abrir-carrousel" onclick="abrirCarrousel()">
            <% if (portada) { %>
            <img src="<%= portada %>" alt="portada de '<%= libro.titulo %>'">
            <% } else { %>
            <i class="fas fa-book fa-8x" title="portada"></i>
            <% } %>
        </button>
        <h4><%= libro.titulo %></h4>
        <p><%= autores_libro %></p>
        <details>
            <summary>Sinopsis</summary>
            <%= libro.sinopsis %>
        </details>
    </article>
    <% } %>
    <section id="carrousel-libros" class="modal-box">
        <button id="cerrar-carrousel" onclick="cerrarParent('cerrar-carrousel')"><i class="far fa-times-circle fa-3x"
                title="cerrar carrousel"></i></button>
        <button id="prev-book" onclick="siguienteLibro(-1)"><i class="fa fa-chevron-left fa-3x" aria-hidden="true"
                title="libro anterior"></i></button>
        <button id="next-book" onclick="siguienteLibro(1)"><i class="fa fa-chevron-right fa-3x" aria-hidden="true"
                title="libro siguiente"></i></button>
        <% 
        for (let libro of libros) { 
            const autores = []; 
            for (let autor of libro.autors) {
                autores.push(autor.nombre + ' ' + autor.apellidos); 
        } 
        autores_libro = autores.join(', ');
        %>
        <article class="libro carrousel slide">
            <i class="fas fa-book fa-8x"></i>
            <h3><%= libro.titulo %></h3>
            <p><%= autores_libro %></p>
            <details>
                <summary>Sinopsis</summary>
                <%= libro.sinopsis %>
            </details>
            <table class="ficha-libro">
                <tbody>
                    <tr>
                        <th>G&eacute;nero</th>
                        <td><%= libro.genero %></td>
                    </tr>
                    <tr>
                        <th>Autor(es)</th>
                        <td><%= autores_libro %></td>
                    </tr>
                    <tr>
                        <th>Editorial</th>
                        <td>‎<%= libro.editorial.nombre %></td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td><%= libro.isbn %></td>
                    </tr>
                </tbody>
            </table>
        </article>
        <% } %>
    </section>
</main>
<!-- <aside id="aside-cookies">
    <button id="cerrar-cookies" onclick="cerrarParent('cerrar-cookies')"><i class="far fa-times-circle fa-3x"
            title="cerrar cookies"></i></button>
    <p>Tenemos cookies!</p>
</aside> -->
<%- include('../includes/footer.ejs') %>