<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>

<main>
    <h1>Lista de todos los libros</h1>
    <% if (libros.length > 0) { %>
    <ul>
        <% for (let libro of libros) { %>
        <li>
            <table>
                <tr>
                    <th>isbn</th>
                    <td><%= libro.isbn %></td>
                </tr>
                <tr>
                    <th>titulo</th>
                    <td><%= libro.titulo %></td>

                </tr>
                <tr>
                    <th>editorial</th>
                    <td>Editorial</td>

                </tr>
                <tr>
                    <th>g&eacute;nero</th>
                    <td><%= libro.genero %></td>

                </tr>
                <tr>
                    <th>ejemplares</th>
                    <td><%= libro.ejemplares %></td>

                </tr>
                <tr>
                    <th>idioma</th>
                    <td><%= libro.idioma %></td>

                </tr>
            </table>
            <a class="btn" href="/libros/editBook/<%= libro.isbn %>">Edit</a>
            <form action="/libros/deleteBook" method='POST'>
                <button class="btn" type="submit">Delete</button>
                <input type="hidden" name="isbn" value="<%= libro.isbn %>">
            </form>
        </li>
        <% } // end of for %>
    </ul>
    <% } else { %>
    <h2>No libros for you!</h2>
    <% } // end of if %>
</main>
<%- include('../includes/footer.ejs') %>